{% extends "base.html" %}
{% block title %}Технологии{% endblock %}
{% block content %}
{% comment %} Колонки с отступом сверху и снизу {% endcomment %}
  <div class="row">
    <h1>Вот что я умею</h1>
    {% comment %}
    Боковой блок со списком технологий
    Займет всю ширину блока на мобильном
    и 25% при размерах экрана ≥768px
    {% endcomment %}
    <aside class="col-12 col-md-3">
      <ul class="list group list-group-flush">
        <li class="list-group-item">
          Python
        </li>
        <li class="list-group-item">
          Django
        </li>
      </ul>
    </aside>
    {% comment %}
    Статья
    Займет всю ширину блока на мобильном
    и 75% при размерах экрана ≥768px
    {% endcomment %}
    <article class="col-12 col-md-9">
      <p>Создание веб-приложения с нуля</p>
      <p>Роутинг запросов в приложении, проектирование структуры адресов</p>
      <p>Основы HTML, CSS. Bootstrap (фреймворк для фронтенда)</p>
      <p>HTML страницы в Django: render, include, block, extends, cловарь контекста, ветвления, циклы</p>
      <p>Django ORM</p>
      <p>Тестирование: Unittest и TDD, Unittest в Django</p>
    </article>
  </div>
{% endblock %}