{% extends 'base.html' %}
{% load thumbnail %}
{% block title %}Поделиться постом{% endblock %}
{% block content %}
  <div class="container py-5">
    <div class="row justify-content-center">
      <div class="col-md-8 p-5">
        <div class="card">
          <div class="card-header">
            {% if sent %}
              <h1>Письмо успешно отправлено</h1>
              <div class="card-body">
                <div class="form-group row my-3 p-3">
                <p>Пост - "{{ post }}..." ({{ post.author }}) успешно отправлен {{ form.cleaned_data.to }}.</p>
                </div>
              </div>
            {% else %}
              <h1>Отправить пост - "{{ post }}..." ({{ post.author }})</h1>
              <div class="card-body">
                <form action="." method="post">
                  <div class="form-group row my-3 p-3">
                  {{ form.as_p }}
                  </div>
                  {% csrf_token %}
                  <input type="submit" value="Отправить">
                </form>
              </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}